<%- include('../templates/navbar'); %>
<div class="d-flex align-content-center flex-wrap">
    <div class="card w-50 mx-auto my-5">
        <h5 class="card-header">Details</h5>
        <div class="card-body">
            <h5 class="card-title"><%= user_data.first_name %> <%= user_data.last_name %></h5>
            <p class="card-text">You have Rs.<%= user_data.current_balance %> in your Account</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>
<div class="container w-50 text-center">
    <form action="/payment/transactionFace" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="sender_email">Your Email</label>
                <input type="sender_email" id="sender_email" name="sender_email" value="<%= user_data.email %>" readonly class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="sender_account_number">Your Account number</label>
                <input type="text" name="sender_account_number" id="sender_account_number" value="<%= user_data.account_number %>" readonly class="form-control"><br>
            </div>
            <div class="form-group col-12">
                <label for="reciever_account_number">Reciever Account Number</label>
                <input type="number" name="reciever_account_number" id="reciever_account_number" class="form-control" required>
                <% if (errors && errors.reciever_account_number) { %>
                    <p><%= errors.reciever_account_number %></p>
                <% } %>
            </div>
            <div class="form-group col-6 mx-auto">
                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" class="form-control" required><br>
                <% if (errors && errors.amount) { %>
                    <p><%= errors.amount %></p>
                <% } %>
            </div>
            <div class="col-12">
                <input type="submit" name="make_it" value="Pay" class="btn btn-outline-primary">
            </div>
        </div>
    </form>
</div>
<%- include('../templates/footer'); %>